#nav-button-container {
  position: absolute;
  top: 5px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  color: rgb(var(--light-gray, 255, 0, 0));
  height: 40px !important;
  width: 40px !important;
  anchor-name: --anchor-button;
  transition: all 500ms ease-in-out;
  transition-delay: 200ms;
  & .nav-button-links {
    background: none;
    display: none;
    position-anchor: --anchor-button;
    margin: 0;
    inset: auto;
    position: fixed;
    top: calc(anchor(bottom) - 15px);
    right: calc(anchor(right) + 30px);
    opacity: 0;
    scale: 0;
    transition: all 500ms ease-in-out;
    transition-behavior: allow-discrete;
    transform-origin: top right;
    height: fit-content;
    width: fit-content;
    flex-direction: column !important;
    animation: nav ease-in-out;
    animation-timeline: scroll(block nearest);
    border: none;
    border-radius: 10px;
    box-shadow: var(--shadow-light, 0 0 5px #f00);
    &:popover-open {
      display: flex;
      flex-direction: column;
      scale: 1;
      opacity: 1;
      background-color: rgb(var(--dark-gray, 255, 0, 0));
      @starting-style {
        display: flex;
        flex-direction: column !important;
        opacity: 0;
        scale: 0;
        & a {
          text-decoration: none !important;
        }
      }
    }
  }
  & #nav-button {
    cursor: pointer;
    height: 48px !important;
    width: 48px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(var(--light-gray, 255, 0, 0));
    transition: all 500ms ease-in-out;
    background: none;
    &:hover,
    &:active {
      background-color: rgb(var(--teal, 255, 0, 0));
      color: rgb(var(--dark-gray, 255, 0, 0));
    }
  }
}
