@keyframes scroller {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes animate-bg {
  10%,
  90% {
    transform: scaleX(0);
  }
  25%,
  75% {
    transform: scaleX(1);
  }
}

@keyframes profile-reveal {
  0% {
    transform: translateY(0);
    top: 0;
  }
  100% {
    transform: translateY(-100%);
    top: -100%;
  }
}

@keyframes slide-in-right-100 {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-in-right-200 {
  from {
    opacity: 0;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-in-left-100 {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-in-left-200 {
  from {
    opacity: 0;
    transform: translateX(-200%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-in-up-100 {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-in-up-200 {
  from {
    opacity: 0;
    transform: translateY(200%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-in-down-100 {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-in-down-200 {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes waving {
  0%,
  100% {
    transform: rotateZ(-15deg);
  }
  50% {
    transform: rotateZ(15deg);
  }
}

@keyframes subtitle-change {
  0%,
  100% {
    content: 'a brand creator';
  }
  25% {
    content: 'a web developer';
  }
  50% {
    content: 'a streamer on Twitch';
  }
  75% {
    content: 'also known as Manoel';
  }
}
